<div class="sidebar">
  <!-- Logo Ecozy -->
  <img class="logo" alt="Ecozy Logo" src="image.png" />

  <!-- Photo de profil et nom de l'utilisateur -->
  <div class="user-info" *ngIf="user">
    <img
      class="profile-picture"
      alt="User profile picture"
      [src]="'http://localhost:3500/' + user.photo"
      (click)="openUserDetailsModal()"
    />
    <p class="username">{{ user.nom }} {{ user.prenom }}</p>
  </div>

  <!-- Menu -->
  <div class="menu">
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-home"></i> Dashboard
    </a>
    <a routerLink="/users" routerLinkActive="active" *ngIf="isAdmin()">
      <i class="fas fa-user"></i> Utilisateurs
    </a>
    <a routerLink="/plantes" routerLinkActive="active">
      <i class="fas fa-seedling"></i> Plantes
    </a>
    <a routerLink="/historique" routerLinkActive="active" *ngIf="isAdmin()">
      <i class="fas fa-history"></i> Historiques
    </a>
  </div>

  <!-- Bouton de déconnexion -->
  <a class="logout" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    DECONNEXION
  </a>
</div>

<app-user-details-modal
  #userDetailsModal
  [user]="user"
  (closeModal)="closeUserDetailsModal()"
>
</app-user-details-modal>
