<div class="container">
  <div class="card">
    <div>
      <img src="image.png" alt="Logo ECOZY" class="logo" />
    </div>

    <p class="description">
      <strong>ECOZY</strong> est un système d'arrosage entièrement automatisé,
      conçu pour optimiser vos cultures tout en garantissant une gestion
      efficace de l'eau.
    </p>

    <label for="code" class="label">Entrer votre Code</label>
    <div class="input">
      <div class="code-input">
        <input
          *ngFor="let box of codeBoxes; let i = index"
          class="input-box"
          type="number"
          maxlength="1"
          [(ngModel)]="codeBoxes[i]"
          (input)="onInput($event, i)"
          (keydown)="onBackspace($event, i)"
          type="text"
          maxlength="1"
          [value]="maskedCode[i]"
          [ngClass]="{ valid: code[i] !== '', invalid: code[i] === '' }"
          tabindex="-1"
        />
      </div>
      <img src="logo-projet.png" alt="image" class="image" />
    </div>

    <p class="rfid">- Scanner votre carte RFID</p>
    <div *ngIf="errorMessage" style="color: rgb(253, 7, 7)">
      - {{ errorMessage }}
    </div>
  </div>
</div>
