<div class="container">
  <div class="header-stats">
    <div class="stat">
      <div class="stat-content">
        <div class="stat-icon">
          <i class="fas fa-history"></i>
        </div>
        <div class="stat-value">{{ connexion }}</div>
      </div>
      <div class="stat-label">Totals Connexions</div>
    </div>
    <div class="divider"></div>
    <div class="stat">
      <div class="stat-content">
        <div class="stat-icon">
          <i class="fas fa-bolt"></i>
        </div>
        <div class="stat-value">{{ creation }}</div>
      </div>
      <div class="stat-label">Creations </div>
    </div>
    <div class="divider"></div>
    <div class="stat">
      <div class="stat-content">
        <div class="stat-icon">
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="stat-value">{{ suppression }}</div>
      </div>
      <div class="stat-label">Suppressions</div>
    </div>
  </div>

  <div class="filters mt-4">
    <input
      type="text"
      placeholder="Rechercher par nom, prénom, téléphone..."
      class="filter-input mb-2"
      [(ngModel)]="searchTerm"
      (input)="filtrerLogs()"
    />
    <input
      type="date"
      placeholder="Filtrer par date..."
      class="filter-input mb-2"
      [(ngModel)]="dateFilter"
      (input)="filtrerLogs()"
    />
  </div>

  <div class="user-logs mt-4">
    <h3 class="title">Historiques des Actions</h3>
    <table class="event-table">
      <thead>
        <tr class="table-header">
          <th class="table-cell">#</th>
          <th class="table-cell">Photo</th>
          <th class="table-cell">Prénom</th>
          <th class="table-cell">Nom</th>
          <th class="table-cell">Téléphone</th>
          <th class="table-cell">Heure de Connexion</th>
          <th class="table-cell">Heure de Déconnexion</th>
          <th class="table-cell">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let log of filteredLogs">
          <tr class="table-row">
            <td></td>
            <td class="table-cell">
              <img [src]="'http://localhost:3500/' + getUserDetails(log.userId)?.photo" alt="Photo de l'utilisateur" width="50" class="rounded-circle">
            </td>
            <td class="table-cell">{{ getUserDetails(log.userId)?.prenom }}</td>
            <td class="table-cell">{{ getUserDetails(log.userId)?.nom }}</td>
            <td class="table-cell">{{ getUserDetails(log.userId)?.telephone }}</td>
            <td class="table-cell">{{ log.loginTime | date : "dd MMMM yyyy, HH:mm:ss" }}</td>
            <td class="table-cell">{{ log.logoutTime | date : "dd MMMM yyyy, HH:mm:ss" }}</td>
            <td class="table-cell">
              <button class="edit-button" (click)="navigateToDetails(log)">
                Détails
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
