<div class="modal-overlay" *ngIf="user">
  <div class="container">
    <h2>Assigner une Carte RFID</h2>
    <form>
      <!-- Prénom -->
      <div class="form-group">
        <label for="prenom">
          Prénom
          <span>*</span>
        </label>
        <input id="prenom" type="text" [value]="user.prenom" readonly />
      </div>

      <!-- Nom -->
      <div class="form-group">
        <label for="nom">
          Nom
          <span>*</span>
        </label>
        <input id="nom" type="text" [value]="user.nom" readonly />
      </div>

      <!-- Scanner la carte RFID -->
      <div class="form-group">
        <label for="rfid">
          Scanner la carte RFID
          <span>*</span>
        </label>
        <input
          id="rfid"
          type="text"
          placeholder="Scanner la carte RFID"
          [value]="rfidValue"
          readonly
        />
      </div>

      <!-- Boutons -->
      <div class="form-group">
        <button type="button" class="cancel-btn" (click)="closeModal.emit()">
          Annuler
        </button>
        <button type="button" class="submit-btn" (click)="assignCard()">
          Assigner
        </button>
      </div>
    </form>
  </div>
</div>
