<div class="modal-backdrop fade show"></div>
<div
  class="modal fade show d-block"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-0 shadow-lg">
      <div class="modal-header bg-green-600 text-white p-4">
        <h5 class="modal-title">Assigner une Carte RFID</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          (click)="closeModal.emit()"
          aria-label="Fermer"
        ></button>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="prenom"
            >
              Prénom <span class="text-red-500">*</span>
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="prenom"
              type="text"
              [value]="user?.prenom"
              readonly
            />
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nom">
              Nom <span class="text-red-500">*</span>
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="nom"
              type="text"
              [value]="user?.nom"
              readonly
            />
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="rfid"
            >
              Scanner la carte RFID <span class="text-red-500">*</span>
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="rfid"
              type="text"
              placeholder="Scanner la carte RFID"
              [value]="rfidValue"
              readonly
            />
          </div>
          <div class="flex items-center justify-center">
            <button
              class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
              (click)="assignCard()"
            >
              Assigner
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
